<footer class="footer">
  <div class="container">
    <div class="footer__inner">
    <div class="footer__content">
      <div class="footer__logo">
        <img src="{{ 'logo-footer.png'|img_asset }}">
      </div>
      <div class="footer__contacts">
        <p class=""><a class="footer__link" href="tel:+78662229282">+7 (866) 222-92-82</a><span> / </span><a class="footer__link" href="mailto:uc@stc-v.ru">uc@stc-v.ru</a></p>
        <p>Нальчик, <a href="https://yandex.ru/maps/30/nalchik/?whatshere%5Bpoint%5D=43.582440%2C43.479169&whatshere%5Bzoom%5D=17&mode=whatshere&ll=43.582440%2C43.479169" class="footer__address footer__link">Байсултанова, 15-15А</a></p>
      </div>
    </div>
  </div>
  </div>
</footer>