<header class="header" id="header">
  <div class="container">
    <div class="header__row">
      <div class="header__col header__col--slot-brand">
        <a href="#" class="header__brand">
          <img src="{{ 'logo.png' | img_asset }}" alt="{{ common.data.companyName }}">
        </a>
      </div>
      <div class="header__col">
        <div class="header__contacts">
          <a class="header__link" href="tel:+78662229282">+7 (866) 222-92-82</a>
          <!-- <a class="header__link" href="mailto:info@it-sm.org">info@it-sm.org</a> -->
          <a href="mailto:uc@stc-v.ru" class="btn btn--bg-white btn--size-large">Написать нам</a>
        </div>
      </div>
    </div>
  </div>
</header>